<% content_for :tools do %>
  <%= form_for(@document) do |f| %>

    <% if @document.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>
        <ul>
        <% @document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class ="row">
      <div class="col-sm-10">
        <div class="form-group">
          <%= f.label :date %><br>
          <%= f.text_field :date, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :amount %><br>
          <%= f.text_field :amount, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :currency_id %><br>
          <%= f.collection_select :currency_id, @document.currencies.order(:name), :id, :name, {include_blank: true}, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :category_id %><br>
          <%= f.collection_select :category_id, @document.categories.order(:name),:id,:name, {include_blank: true}, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_area :description, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.fields_for :image do |image_form| %>
            <%= image_form.file_field :image, accept: 'image/jpeg,image/gif,image/png', onchange: 'submit_form(this)', id: "image_image", class: "form-control" %>
          <% end %>
        </div>
        <% if can? :update, Document %>
          <div class="actions">
            <%= f.submit class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="image-div span12">
      <% if @document.image.present? %>
        <%= image_tag(@document.image.image_url(:medium), class: "img-responsive edit_pic", data: {zoom_image: @document.image.image_url}) %>
      <% end %>
    </div>
    <% if can? :update, Document %>
      <div class="upload-edit">
        <%= button_tag "Change image", onclick: "browse_image()", type: :button, class: :"btn btn-primary" %>
        <p id="notice" class="notice-edit-image"><%= notice %></p>
        <% if @document.image.present? %>
          <div class="rotate-form">
            <%= button_tag "", :class => "btn glyphicon glyphicon-repeat ", id: "rotate_counter_clockwise" %>
            <%= button_tag "", :class => "btn glyphicon glyphicon-repeat", id: "rotate_clockwise" %>
            <%= form_for :image_angle, url: rotate_image_path(:id => @document.image_id),
            remote: true, authenticity_token: true,
            html: {id: "image_angle_form"} do |f| %>
              <%= f.hidden_field :angle, value: "0", id: "angle_field" %>
              <%= f.submit "Save", class: "btn btn-primary" %>
            <%end%>
          </div>
        <%end%>
      </div>
    <% end %>
  </div>
</div>
