<% if can? :create, Document %>
  <%= form_for Image.new do |f| %>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', onchange: 'submit_form(this)', multiple: true %>
    <%= button_tag "Upload document", type: :button, onclick: "browse_image()", class: :"btn btn-primary btn-upload" %>
  <% end %>
<% end %>

<%= button_to "New document", new_document_path, type: :button, class: "btn btn-primary btn-create", method: :get %>
