.list-img li {
  list-style: none;
  margin-bottom: 20px;
}

.list-img img {
  cursor: pointer;
}

.pagination {
  text-align: right;
  width: 100%;
}

.edit_pic {
  margin: auto;
  max-height: 100%;
}

.btn-upload, .btn-create {
  margin: 10px;
}

.upload-edit {
  text-align: center;
}

.notice-edit-image {
  display: inline;
  margin-left: 10px;
}

@media (min-height: 500px) {
  .image-div {
    max-height: 80vh;
  }
}

#rotate_counter_clockwise {
  transform: scaleX(-1);
}

#image_angle_form {
  display: inline-block;
}

.rotate-form {
  padding-left: 20px;
  display: inline-block;
}

.image-div {
  height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

@media (max-width: 500px) {
  .edit_pic {
    max-width: 90vw;
    max-height: 90vw;
  }
  .image-div {
    width: 90vw;
    height: 90vw;
  }
}

.for-buttons {
  display: inline-flex;
}

.field {
  width: 25%;
}

.category_col {
  width: 75px;
}
