.loading a[class*="facebook"] {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
}
.loading a:hover[class*="facebook"] {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
}

.loading a[class*="google"] {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
}

.loading a:hover[class*="google"] {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
}

#header {
  color: #FFF;
}

