<p id="notice"><%= notice %></p>

<h1>List of categories</h1>

<table class="table table-striped">
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td class="category_col" ><%= button_to "Edit", edit_category_path(category), type: :button, method: :get %></td>
        <td class="category_col" ><%= button_to "Delete", category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "New Category", new_category_path, type: :button, class: "btn btn-primary btn-create", method: :get %>
